.cash_flow_plan_page
  .content
    .hero-unit
      %h3 Cash Flow Plans
      %div{:style => 'float:right;margin-bottom:18px;'}
        %a{:class => "btn primary", :href => new_cash_flow_plan_path, :style => 'float:right;'} New Cash Flow Plan &raquo;
      = render 'cash_flow_plans', :cash_flow_plans => @cash_flow_plans.order('date DESC')