.cash_flow_plan_page
  .content
    .hero-unit
      %table.zebra-striped
        %thead
          %tr
            %th Budgeted Item
            %th Sub Total
            %th TOTAL
            %th Actually Spent
            %th % OF INCOME
        %tbody.mcfp_body
          - CashFlowPlanItem::CATEGORIES.each do |category|
            %tr
              %td.major= category.upcase
              %td
              %td=# number_to_currency(@cash_flow_plan.total(category))
              %td
              %td=# number_to_currency(@cash_flow_plan.percent(category))

            - @cash_flow_plan.cash_flow_plan_items.select{|item| item.category?(category)}.each do |cfpi|
              %input{:type => 'hidden'}
              %input{:type => 'hidden'}
              %tr
                %td= cfpi.name.humanize
                %td= number_to_currency(cfpi.amount)
                %td
                %td= number_to_currency(cfpi.actual)
                %td