%tr
  %td.major= name.upcase
  %td
  %td
    %input.disabled.total{:type => 'text', :id => "#{name}_total", :value => '0.00', :disabled => 'disabled', :'data-category' => name}
  %td
  %td
    %input.disabled.percent{:type => 'text', :id => "#{name}_percent", :value => '0.00 %', :disabled => 'disabled', :'data-category' => name}