- if target.errors.any?
  .alert.alert-block.alert-error
    %a.close{:'data-dismiss' => "alert"}×
    %h4.alert-heading
      = "#{pluralize(target.errors.count, "error")} prohibited this record from being saved:"
    %ul
      - target.errors.full_messages.each do |msg|
        %li= msg