.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a{:class => 'btn btn-navbar', :'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        %span{:class => 'icon-bar'}
        %span{:class => 'icon-bar'}
        %span{:class => 'icon-bar'}
      %a.brand{:href=> root_path}Maggie Money
      .nav-collapse
        -if current_user
          %ul.nav
            %li
              %a{:href => root_path}Dashboard
            %li.dropdown
              %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
                Worksheets
                %b{:class => "caret"}
              %ul.dropdown-menu
                %li
                  %a{ :href => cash_flow_plans_path } Cash Flow Plans
                %li
                  %a{ :href => allocated_spending_plans_path } Allocated Spending Plans
                %li
                  %a{ :href => breakdown_of_savings_path } Breakdown of Savings
          %ul.nav.pull-right
            %li.dropdown
              %a.dropdown-toggle{:'data-toggle' => "dropdown", :href => "#"}
                = current_user.email
                %b{:class => "caret"}
              %ul.dropdown-menu
                %li
                  = link_to 'My Account', edit_user_registration_path
                %li
                  = link_to 'Preferences', 'javascript:void(0)'
                %li.divider
                %li
                  %a{:href => sign_out_path, :method => :delete}Logout
        - unless current_user
          .pull-right
            %a{:class => "btn btn-primary btn-medium", :href => new_user_session_path}
              %i{:class => 'icon-user icon-white'}
              %span Log In