%table.table.table-striped.table-bordered.table-condensed
  %thead
    %tr
      %th{:width => '30%'} Date
      %th.text-right Household Income
      %th.text-right Budgeted
      %th.text-right Remaining
  %tbody.asps_body
    - allocated_spending_plans.each do |allocated_spending_plan|
      %tr
        %td
          = allocated_spending_plan.date#, allocated_spending_plan_path(allocated_spending_plan)
          .pull-right
            %a.no-underline.tip{:href => edit_allocated_spending_plan_path(allocated_spending_plan), :title => 'Edit'}
              %i.icon-pencil
            %a.no-underline.tip{:href => clone_allocated_spending_plan_path(allocated_spending_plan), :title => 'Clone'}
              %i.icon-repeat
            %a.no-underline.tip{:href => allocated_spending_plan_path(allocated_spending_plan),:method => :delete, :confirm => "Are You Sure?  This action cannot be undone.", :title => 'Delete'}
              %i.icon-trash


        %td.text-right
          = number_to_currency(allocated_spending_plan.household_income)
        %td.text-right= number_to_currency(allocated_spending_plan.budgeted)
        %td.text-right{:style => "color:#{remaining_asp_color(allocated_spending_plan)}"}= number_to_currency(allocated_spending_plan.remaining)