%table.table
  %thead
    %tr
      %td{:width => '40%'}
      %td.center{:width => '30%'}
        %input.allocated_spending_plan_remaining.disabled{:disabled => 'disabled', :value => '$0.00 left', :style => 'width:120px;text-align:center;', :class => 'remaining'}
      %td{:width => '30%'}
        .pull-right
          = link_to 'Cancel', dashboard_path, :class => "btn"
          = f.submit "Save", :class => "btn btn-success"
          = f.submit "Finish", :class => "btn btn-primary"