.well
  .row
    .span12
      %h3
        Allocated Spending Plans
        %small= "Last one: #{current_user.allocated_spending_plans.any? ? current_user.allocated_spending_plans.order('date DESC').first.date : 'never'}"
    .span3
      .pull-right{:style => 'margin-left: 5px;'}
        %a.btn.primary{:href => new_allocated_spending_plan_path} New &raquo;
      .pull-right
        - if current_user.allocated_spending_plans.any?
          %a.btn.show_list{:'data-list' => 'asp'} Show list
  - if current_user.allocated_spending_plans.any?
    .row#asp_list.hidden
      .span15
        = render 'allocated_spending_plans/allocated_spending_plans', :allocated_spending_plans => current_user.allocated_spending_plans.limit(12).order('date DESC')
        - if current_user.allocated_spending_plans.size > 12
          .span15
            %a{:href => allocated_spending_plans_path} show more &raquo;