.well
  .row
    .span8
      %h3
        Allocated Spending Plans
        %small= "Last one: #{current_user.allocated_spending_plans.any? ? current_user.allocated_spending_plans.order('date DESC').first.date : 'never'}"
    .span3
      .pull-right{:style => 'margin-left: 5px;'}
        %a.btn.btn-primary{:href => new_allocated_spending_plan_path}
          New
          %i.icon-chevron-right.icon-white
      .pull-right
        - if current_user.allocated_spending_plans.any?
          %a.btn.show_worksheet_list{:'data-worksheet' => 'asp'}
            %i.icon-list

  - if current_user.allocated_spending_plans.any?
    .row#asp_list.worksheet_list.hide{:'data-worksheet' => 'asp', :style => 'margin-top: 15px;'}
      .span11
        = render 'allocated_spending_plans/allocated_spending_plans', :allocated_spending_plans => current_user.allocated_spending_plans.limit(12).order('date DESC')
      - if current_user.allocated_spending_plans.size > 12
        .span11
          %a.btn{:href => allocated_spending_plans_path}
            %i.icon-eye-open
            View More