.content
  .hero-unit
    Hello World

  .row
    .span3.hero-unit
      %h2 Envelope 1
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 2
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 3
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 4
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 5
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 5
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;
    .span3.hero-unit
      %h2 Envelope 5
      %ul
        %li Transaction 1
        %li Transaction 2
      %p
        Etiam porta sem malesuada magna mollis euismod.
      %p
        %a.btn{ :href => "#"} View details &raquo;