.hero-unit{:style => 'text-align:center;padding: 20px 60px 0px 60px;margin-bottom: 30px;'}
  %h1 Welcome to Maggie Money!
  %p Why is there so much month left at the end of the money?
  = image_tag 'hero.png', :style => 'margin: 5px 0 0 0;'
.row
  .span8.offset1
    %h1 Simple web-based budgeting tool that makes it easy and enjoyable to do a monthly budget from anywhere.
  .span3{:style => 'margin-left: 0px;'}
    %p{:style => 'padding-top: 10px;margin-left:15px'}
      %a{:class => "btn btn-huge btn-success", :href => new_user_registration_path, :style => 'width: 60%'}
        %strong Sign Up for Free!
/ %hr
/ .row
/   .span5.offset1
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header Hello
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header My
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header World
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
/   .span5
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header Hello
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header Your
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
/     .row-fluid
/       .span2
/         pic
/       .span10
/         %h3 Some header World
/         %p Proin vel erat mauris. Maecenas sit amet tortor nec lorem blandit lobortis. Morbi egestas mollis justo eget tristique. Nulla congue elit sed lacus adipiscing posuere. Duis nec elementum turpis. In iaculis eros eget leo iaculis nec ultrices eros laoreet. Nullam at vulputate tellus. Nulla porta nibh id ligula tincidunt in faucibus neque ullamcorper. Donec eleifend, velit id varius fringilla, metus velit porttitor eros, in mollis lacus eros vel velit.
%hr
.row
  .span10.offset1
    %blockquote.big-quote
      %h2 Maggie Money is so easy to use. My wife creates a budget every month and we have much better control over our money now.  Not to mention it's Free!
      %small
        Andrew Kennedy
        = link_to 'http://akennedy.jit.su', 'http://akennedy.jit.su'