.hero-unit
  %h1 Welcome to Maggie Money!
  %p Budget software based on the envelope system. Stop letting your money rule your life and start ruling your money
  %br
  %p
    %a{:class => "btn primary large", :href => new_user_registration_path} Sign Up &raquo;
