- content_for :sign_in do
  =form_tag user_session_path, :class => "pull-right" do
    =text_field_tag "user[email]", nil, :class => "input-small", :placeholder => "email"
    =password_field_tag "user[password]", nil, :class => "input-small", :placeholder => "password"
    %button.btn{:type => "submit"}Sign In

.hero-unit
  %h1 Welcome to Maggie Money!
  %p Why is there so much month left at the end of the money?
  %br
  - if current_user
    %p
      %a{:class => "btn btn-info btn-large", :href => dashboard_path}
        %i{:class => 'icon-home icon-white', :style => 'margin-top: 2px;'}
        Dashboard
      %a{:class => "btn btn-primary btn-large", :href => new_cash_flow_plan_path} Get Started &raquo;
  - else
    %p
      %a{:class => "btn btn-primary btn-large", :href => new_user_session_path}
        %i{:class => 'icon-user icon-white', :style => 'margin-top: 2px;'}
        Sign In
      or
      %a{:class => "btn btn-info btn-large", :href => new_user_registration_path} Register &raquo;

