.hero-unit{:style => 'text-align:center;padding: 20px 60px 0px 60px;margin-bottom: 30px'}
  %h1 Welcome to Maggie Money!
  %p Why is there so much month left at the end of the money?
  = image_tag 'hero.png', :style => 'margin: 5px 0 0 0;'
.row
  .span8.offset1
    %h1 Simple web-based budgeting tool that makes it easy and enjoyable to do a monthly budget from anywhere.
  .span3{:style => 'margin-left: 0px;'}
    %p{:style => 'padding-top: 10px;margin-left:15px'}
      %a{:class => "btn btn-huge btn-success", :href => new_user_registration_path, :style => 'width: 60%'}
        %strong Sign Up for Free!