:plain
  <link href="http://vjs.zencdn.net/c/video-js.css" rel="stylesheet">
  <script src="http://vjs.zencdn.net/c/video.js"></script>

%video#my_video_1.video-js.vjs-default-skin{:controls => 'controls', :preload => 'auto', :width => '720', :height => '480', :'data-setup' => "{}"}
  %source{:src => ENV["VIDEO_PATH"], :type => 'video/mp4'}