.cfp_head
  td
    text-align: center
  td.major
    text-align: left
    padding-left: 10px
  input
    width: 80px
    margin-bottom: 0px
  input.disabled
    text-align: center
    width: 105px

.cfps_body
  background-color: white

.cfp_body
  td
    text-align: center
  td.major
    text-align: left
    padding-left: 25px
  td span.green
    color: green
  background-color: white
  input
    width: 80px
    margin-bottom: 0px
  input.disabled
    text-align: center
    width: 105px

.asp_head
  td
    text-align: center
  td.major
    text-align: left
    padding-left: 10px
  input
    width: 80px
    margin-bottom: 0px
  input.disabled
    text-align: center
    width: 105px

.asps_body
  background-color: white

.asp_body
  td
    text-align: center
  td.major
    text-align: left
    padding-left: 25px
  td span.green
    color: green
  background-color: white
  input
    width: 80px
    margin-bottom: 0px
  input.disabled
    text-align: center
    width: 105px

.positive
  color: green

.negative
  color: red

.floating_remains
  top: 38px
  left: -50px
  position: fixed

.cash_flow_plan_page
  .hero-unit
    padding-top: 15px
  .center
    text-align: center

.allocated_spending_plan_page
  .hero-unit
    padding-top: 15px
  .center
    text-align: center