.hide
  display: none

.field_with_errors
  display: inline !important
  input, select, textarea
    border: 1px solid #eed3d7 !important
    background-color: #f2dede !important

.input-prepend .add-on, .input-append .add-on
  z-index: 1 !important

.no-underline
  text-decoration: none !important

.form-actions
  padding: 17px 20px 18px 0px